:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2480px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1440px;
  margin: 0 0 0 0;
  padding: 24px 80px 24px 80px;
}
.asset {
  flex-shrink: 0;
  position: relative;
  width: 256.099px;
  height: 80px;
  z-index: 1;
  overflow: hidden;
}
.asset-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.layer {
  position: relative;
  width: 256.097px;
  height: 80.007px;
  margin: 0px 0 0 0px;
  z-index: 3;
}
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/FYsJ1jt76K.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 747px;
  z-index: 5;
}
.frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 97px;
  padding: 8px 24px 8px 24px;
  z-index: 6;
  border-radius: 48px;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 117px;
  padding: 8px 24px 8px 24px;
  z-index: 8;
  border-radius: 48px;
}
.services {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.insight-drop-down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 141px;
  padding: 8px 24px 8px 24px;
  z-index: 10;
}
.insights {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 65px;
  height: 23px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.arrow-drop-down {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/p50a6gujvx.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
  overflow: hidden;
}
.drop-down {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 239px;
  height: 40px;
  z-index: 13;
  overflow: hidden;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 14;
}
.drop-down-import-field {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  padding: 8px 24px 8px 24px;
  z-index: 15;
}
.salesforce-expertise {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.arrow-drop-down-5 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/uAmSyfsxSX.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
}
.drop-down-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  padding: 8px 0 8px 0;
  background: rgba(253, 254, 254, 0);
  z-index: 18;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.drop-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 19;
}
.sales-cloud {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.drop-comp-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 21;
}
.sales-cloud-7 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.drop-comp-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 23;
}
.sales-cloud-9 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 24;
}
.drop-comp-a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 25;
}
.sales-cloud-b {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
}
.drop-comp-c {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 27;
}
.sales-cloud-d {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 28;
}
.drop-comp-e {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 29;
}
.sales-cloud-f {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 30;
}
.drop-comp-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 31;
}
.experience-cloud {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 32;
}
.drop-comp-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 33;
}
.custom-app-development {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 34;
}
.drop-comp-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 35;
}
.health-cloud {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 36;
}
.drop-comp-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 37;
}
.data-cloud {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.drop-comp-14 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  height: 36px;
  padding: 8px 24px 8px 24px;
  z-index: 39;
}
.agentforce {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}
.frame-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 121px;
  padding: 8px 24px 8px 24px;
  z-index: 41;
  border-radius: 48px;
}
.about-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.pic {
  position: relative;
  width: 1440px;
  height: 416px;
  margin: 0 0 0 0;
  background: #ebf8fe;
  z-index: 43;
  overflow: hidden;
}
.vecteezy-wave {
  position: absolute;
  width: 866px;
  height: 510px;
  right: 0;
  bottom: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/3a8EcNgrjn.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
  overflow: hidden;
}
.ellipse {
  position: absolute;
  width: 223.324px;
  height: 223.324px;
  top: 9px;
  right: 434.676px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/9c2O3Dmomf.png)
    no-repeat center;
  background-size: cover;
  filter: blur(150px);
  z-index: 47;
  border-radius: 50%;
}
.ellipse-16 {
  position: absolute;
  width: 352px;
  height: 352px;
  top: 92px;
  right: 8px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/Ng3Q6MfckV.png)
    no-repeat center;
  background-size: cover;
  filter: blur(196px);
  z-index: 45;
  border-radius: 50%;
}
.news-blogs {
  position: absolute;
  width: 1048px;
  height: 96px;
  top: 50%;
  left: 50%;
  font-family: Poppins, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  z-index: 48;
}
.news-blogs-17 {
  position: relative;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
}
.that-inspire {
  position: relative;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
}
.ellipse-18 {
  position: absolute;
  width: 352px;
  height: 352px;
  top: 350px;
  right: 1063px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/kTRLC7z2Zg.png)
    no-repeat center;
  background-size: cover;
  filter: blur(196px);
  z-index: 46;
  border-radius: 50%;
}
.footer {
  position: relative;
  width: 1440px;
  height: 377px;
  margin: 1559px 0 0 0;
  background: #062b55;
  z-index: 128;
  overflow: hidden;
}
.asset-19 {
  position: relative;
  width: 200px;
  height: 62.476px;
  margin: 40px 0 0 80px;
  z-index: 129;
  overflow: hidden;
}
.asset-1a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/8W1AvLmgNW.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 130;
  overflow: hidden;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: relative;
  width: 1280px;
  margin: 5.524px 0 0 80px;
  z-index: 131;
}
.line {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 1px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/2EY3dgNVVG.png)
    no-repeat center;
  background-size: cover;
  z-index: 132;
}
.frame-1b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 133;
}
.frame-1c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 244px;
  z-index: 134;
}
.title {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #f7fbfe;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 135;
  overflow: hidden;
}
.address-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 244px;
  height: 96px;
  color: #f7fbfe;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 136;
}
.frame-1d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 252px;
  z-index: 137;
}
.united-states-america {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #f7fbfe;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 138;
  overflow: hidden;
}
.route-bridgewater-new-jersey {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 252px;
  height: 96px;
  color: #f7fbfe;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  z-index: 139;
  overflow: hidden;
}
.frame-1e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 252px;
  z-index: 140;
}
.united-states-america-1f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #f7fbfe;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 141;
  overflow: hidden;
}
.centre-green-way-cary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 252px;
  height: 96px;
  color: #f7fbfe;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  z-index: 142;
  overflow: hidden;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 120px;
  margin: 32px 0 0 80px;
  z-index: 143;
}
.frame-21 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 120px;
  z-index: 144;
}
.envelope {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/czfhk5Or5d.png)
    no-repeat center;
  background-size: cover;
  z-index: 145;
  overflow: hidden;
}
.facebook {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/Zexm9cOrBH.png)
    no-repeat center;
  background-size: cover;
  z-index: 146;
  overflow: hidden;
}
.linkedin-rect-logo {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/UqxSBew8dU.png)
    no-repeat center;
  background-size: cover;
  z-index: 147;
  overflow: hidden;
}
.highlighted-blogs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
  position: absolute;
  width: 640px;
  height: 1415px;
  top: 624px;
  left: 80px;
  z-index: 49;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 50;
}
.picks-for-you {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.news-blogs-inspire {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 640px;
  height: 144px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  z-index: 52;
}
.frame-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 64px;
  position: relative;
  min-width: 0;
  z-index: 53;
}
.story-card-rec {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 357px;
  z-index: 54;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 640px;
  height: 252px;
  top: 0;
  left: 50%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/JQ8E5ZyHow.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 55;
  border-radius: 8px;
}
.details {
  position: absolute;
  width: 574px;
  height: 140px;
  top: 216px;
  left: 50%;
  background: #f7fbfe;
  border: 1px solid #e3e9ee;
  transform: translate(-50%, 0);
  z-index: 56;
  border-radius: 16px;
}
.frame-24 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 489px;
  margin: 22px 0 0 42px;
  z-index: 57;
}
.line-25 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 96px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/rTDdOdzsNV.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
}
.frame-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 473px;
  z-index: 59;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 473px;
  z-index: 60;
}
.power-data-mba {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 28px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.accelerating-salesforce-cpq-rlm {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #828b93;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.read-more {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.story-card-rec-28 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 357px;
  z-index: 64;
  overflow: hidden;
}
.rectangle-29 {
  position: absolute;
  width: 640px;
  height: 252px;
  top: 0;
  left: 50%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/zDzMi78Dk1.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 65;
  border-radius: 8px;
}
.details-2a {
  position: absolute;
  width: 574px;
  height: 140px;
  top: 216px;
  left: 50%;
  background: #f7fbfe;
  border: 1px solid #e3e9ee;
  transform: translate(-50%, 0);
  z-index: 66;
  border-radius: 16px;
}
.frame-2b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 489px;
  margin: 20px 0 0 42px;
  z-index: 67;
}
.line-2c {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 96px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/RH4dS2U40i.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.frame-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 473px;
  z-index: 69;
}
.frame-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 473px;
  z-index: 70;
}
.span-title {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 28px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.span-title-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 473px;
  min-width: 0;
  height: 40px;
  color: #99a2aa;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 72;
}
.span-title-30 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.story-card-rec-31 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 357px;
  z-index: 74;
  overflow: hidden;
}
.rectangle-32 {
  position: absolute;
  width: 640px;
  height: 252px;
  top: 0;
  left: 50%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/2EWUZeoZVk.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 75;
  border-radius: 8px;
}
.details-33 {
  position: absolute;
  width: 574px;
  height: 140px;
  top: 216px;
  left: 50%;
  background: #f7fbfe;
  border: 1px solid #e3e9ee;
  transform: translate(-50%, 0);
  z-index: 76;
  border-radius: 16px;
}
.frame-34 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 489px;
  margin: 22px 0 0 42px;
  z-index: 77;
}
.line-35 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 96px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/GTQhxQy197.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.frame-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 473px;
  z-index: 79;
}
.frame-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 473px;
  z-index: 80;
}
.span-title-38 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 28px;
  color: #003a55;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.span-title-39 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #99a2aa;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.span-title-3a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.blogs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 564px;
  height: 564px;
  top: 830px;
  left: 824px;
  z-index: 84;
}
.frame-3b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 256px;
  padding: 0 30px 0 30px;
  z-index: 85;
}
.popular-articles {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #41494f;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 86;
}
.frame-3c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 564px;
  z-index: 87;
}
.frame-3d {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 88;
}
.frame-3e {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 506px;
  padding: 12px 0 12px 0;
  border-top: 1px solid #e5e5e5;
  z-index: 89;
}
.frame-3f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 384px;
  z-index: 90;
}
.frame-40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 91;
}
.span-introduction {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #423e42;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}
.frame-41 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 159px;
  z-index: 93;
}
.read-full-story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 127px;
  height: 24px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 94;
}
.arrow-small-right {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/mH07ZHoJFH.png)
    no-repeat center;
  background-size: cover;
  z-index: 95;
  overflow: hidden;
}
.rectangle-42 {
  flex-shrink: 0;
  position: relative;
  width: 98px;
  height: 98px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/FO1ukPmVEv.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
}
.frame-43 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 506px;
  padding: 12px 0 12px 0;
  border-top: 1px solid #e5e5e5;
  z-index: 97;
}
.frame-44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 384px;
  z-index: 98;
}
.frame-45 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 99;
}
.span-digital-lending {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 384px;
  height: 40px;
  color: #423e42;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  z-index: 100;
}
.frame-46 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 159px;
  z-index: 101;
}
.read-full-story-47 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 127px;
  height: 24px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 102;
}
.arrow-small-right-48 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/Cvqe3u3Mqw.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
  overflow: hidden;
}
.rectangle-49 {
  flex-shrink: 0;
  position: relative;
  width: 98px;
  height: 98px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/BuuO55tt6y.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
  box-sizing: content-box;
}
.frame-4a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 506px;
  padding: 12px 0 12px 0;
  border-top: 1px solid #e5e5e5;
  z-index: 105;
}
.frame-4b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 384px;
  z-index: 106;
}
.frame-4c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 107;
}
.driving-equality-tech {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 384px;
  height: 40px;
  color: #423e42;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  z-index: 108;
}
.frame-4d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 159px;
  z-index: 109;
}
.read-full-story-4e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 127px;
  height: 24px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 110;
}
.arrow-small-right-4f {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/3tCJBgFLWv.png)
    no-repeat center;
  background-size: cover;
  z-index: 111;
  overflow: hidden;
}
.rectangle-50 {
  flex-shrink: 0;
  position: relative;
  width: 98px;
  height: 98px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/B4ZxHZ4Ho5.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
}
.frame-51 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 506px;
  padding: 22px 0 22px 0;
  border-top: 1px solid #e5e5e5;
  z-index: 113;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 384px;
  z-index: 114;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 115;
}
.digital-twin-healthcare {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #423e42;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.frame-54 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 159px;
  z-index: 117;
}
.read-full-story-55 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 127px;
  height: 24px;
  color: #25a4dd;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 118;
}
.arrow-small-right-56 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/SncwwzoOSk.png)
    no-repeat center;
  background-size: cover;
  z-index: 119;
  overflow: hidden;
}
.photo {
  flex-shrink: 0;
  position: relative;
  width: 98px;
  height: 98px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/DkQ3bJqQeL.png)
    no-repeat center;
  background-size: cover;
  z-index: 120;
  overflow: hidden;
  box-sizing: content-box;
}
.contact {
  position: absolute;
  width: 564px;
  height: 420px;
  top: 1515px;
  left: 824px;
  background: linear-gradient(135.87deg, #072e59, #1486b9);
  z-index: 121;
  overflow: hidden;
  border-radius: 16px;
}
.vecteezy-wave-blue {
  position: absolute;
  width: 435.635px;
  height: 259.5px;
  top: -13.5px;
  left: 0.02px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/OTNjWjiF45.png)
    no-repeat center;
  background-size: cover;
  z-index: 122;
  overflow: hidden;
}
.frame-57 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
  position: absolute;
  width: 378px;
  height: 191px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49.74%);
  z-index: 124;
}
.experts-suggestion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 378px;
  min-width: 0;
  height: 112px;
  color: #fdfefe;
  font-family: Poppins, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  z-index: 125;
}
.frame-58 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 197px;
  padding: 12px 48px 12px 48px;
  background: #ffc247;
  z-index: 126;
  border-radius: 24px;
}
.enquire-now {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 101px;
  height: 23px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 127;
}
.vecteezy-wave-blue-59 {
  position: absolute;
  width: 433px;
  height: 255px;
  right: 0;
  bottom: 0px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-14/v5RQqJ9VFV.png)
    no-repeat center;
  background-size: cover;
  z-index: 123;
  overflow: hidden;
}
